.collection_log_box {
    font-family: 'RunescapePlain', serif;
    background-color: #585040;
    color: #b4ae1c;
    padding: 4px;
    border-radius: 4px;
    display: block;
    text-align: left;
    margin: 0 auto 10px;
}

.collection_log_inner_box {
    background-color: #483e33;
    color: #ff981f;
    border: 1px #3a3229;
    border-radius: 2px;
    padding: 4px;
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.collection_log_inner_box p {
    margin: 0;
    line-height: 1.1;
}

.collection_log_inner_box b {
    font-family: 'RunescapeBold', serif;
    display: block;
}

.collection_log_divider {
    background-color: #3a3229;
    height: 1px;
    margin: 2px 0;
}

.collection_log_item_box {
    font-family: 'RunescapePlain', serif;
    color: #ff981f;
    position: relative;
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px ;
}

.collection_log_item_box_quantity {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'RunescapePlain', serif;
    font-size: 14px;
    color: #f6f600;
    text-shadow: 1px 1px 2px #000;
    pointer-events: none;
    line-height: 0;
    margin-bottom: 0;
    margin-left: 0;
    white-space: nowrap;
}
