.item_log_inner_box {
    background-color: #483e33;
    color: #ff981f;
    border: 1px solid #3a3229;
    border-radius: 2px;
    padding: 4px;
    margin: 2px 0;
    text-align: left;
    overflow: hidden;
    height: 50px;
}

.item_log_item_box {
    font-family: 'RunescapePlain', serif;
    color: #ff981f;
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
    text-align: left;
    min-width: 20px;
    min-height: 20px;
    flex-shrink: 0;
}

.item_log_item_box_kc {
    position: absolute;
    bottom: 0;
    font-family: 'RunescapePlain', serif;
    font-size: 14px;
    color: #f6f600;
    text-shadow: 1px 1px 2px #000;
    pointer-events: none;
    line-height: 0;
    margin-bottom: -25%;
    margin-left: 0;
    white-space: nowrap;
    text-align: center;
}

.item_log_scroll_box {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding-bottom: 5px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    display: block;
    flex-shrink: 0;
    scrollbar-gutter: stable;
}

.item_log_scroll_box > * {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: max-content;
}

/* Optional: for WebKit browsers (Chrome, Edge, Safari) */
.item_log_scroll_box::-webkit-scrollbar {
    height: 6px;
}
.item_log_scroll_box::-webkit-scrollbar-thumb {
    background: #3a3229;
    border-radius: 4px;
}

