#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
    font-family: 'RunescapePlain';
    src: url('../assets/Fonts/RuneScape-Plain-12.ttf') format('truetype');
}

@font-face {
    font-family: 'RunescapeBold';
    src: url('../assets/Fonts/RuneScape-Bold-12.ttf') format('truetype');
}

.collection_log_box {
    font-family: 'RunescapePlain', serif;
    background-color: #585040;
    color: #b4ae1c;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
}

.collection_log_inner_box {
    background-color: #483e33;
    color: #ff981f;
    border: 1px #3a3229;
    border-radius: 2px;
    padding: 4px;
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.collection_log_inner_box p {
    margin: 0;
    line-height: 1.1;
}

.collection_log_inner_box b {
    font-family: 'RunescapeBold', serif;
    display: block;
}

.collection_log_divider {
    background-color: #3a3229;
    height: 1px;
    margin: 2px 0;
}

.text_white {
    color: #ffffff;
}

.text_yellow {
    color: #f6f600;
}

.text_green {
    color: #0dc10d;
}

.text_red {
    color: #92241d;
}