

.collection_log_box {
    font-family: 'RunescapePlain', serif;
    background-color: #585040;
    color: #b4ae1c;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
    text-align: left;
    margin: 0 auto 10px;
}

.collection_log_inner_box {
    background-color: #483e33;
    color: #ff981f;
    border: 1px #3a3229;
    border-radius: 2px;
    padding: 4px;
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.collection_log_inner_box p {
    margin: 0;
    line-height: 1.1;
}

.collection_log_inner_box b {
    font-family: 'RunescapeBold', serif;
    display: block;
}

.collection_log_divider {
    background-color: #3a3229;
    height: 1px;
    margin: 2px 0;
}

.collection_log_item_box {
    font-family: 'RunescapePlain', serif;
    color: #ff981f;
    position: relative;
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px ;
}

.collection_log_item_box_quantity {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'RunescapePlain', serif;
    font-size: 14px;
    color: #f6f600;
    text-shadow: 1px 1px 2px #000;
    pointer-events: none;
    line-height: 0;
    margin-bottom: 0;
    margin-left: 0;
    white-space: nowrap;
}

.text_white {
    color: #ffffff;
}

.text_yellow {
    color: #f6f600;
}

.text_green {
    color: #0dc10d;
}

.text_red {
    color: #92241d;
}

.items_received_modal {
    background-color: #585040;
    font-family: 'RunescapePlain', serif;
    color: #b4ae1c;
    padding: 4px;
    border-radius: 6px;
    max-width: 450px;
    margin: 40px auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    overflow-y: auto;
    max-height: 50vh;
    min-height: 50vh;
}

.items_received_modal_title_box {
    background-color: #483e33;
    padding: 4px 8px;
    border-radius: 2px;
}

.items_received_modal_title {
    font-family: 'RunescapeBold', serif;
    font-size: 1rem;
    color: #ff981f;
    margin: 0;
    text-align: center;
}

.items_received_modal_divider {
    background-color: #3a3229;
    height: 2px;
    margin: 5px;
}

.items_received_modal_box {
    background-color: #483e33;
    padding: 4px 8px;
    border-radius: 2px;
    min-height: 45vh;
    overflow-y: auto;
}

.items_received_modal_item {
    padding: 2px 0;
    line-height: 1.2;
    font-size: 0.9rem;
    text-align: center;
}