.title_box {
    font-family: 'RunescapeBold', serif;
    color: #b4ae1c;
    display: block;
    text-align: center;
}

.title_box h1 {
    margin: 0;
    padding: 0;
}

.outer_app_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inner_app_box {
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    max-width: 1000px;
    color: #d4bfff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 400px;
}

.display_box {
    max-width: 425px;
    display: inline-block;
}
