.title_box {
    font-family: 'RunescapeBold', serif;
    color: #b4ae1c;
    display: block;
    text-align: center;
}

.title_box h1 {
    margin: 0;
    padding: 0;
}

.outer_app_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inner_app_box {
    background: linear-gradient(145deg, #f1f1f1, #323232);
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(75, 0, 130, 0.6);
    padding: 20px;
    width: 30%;
    max-width: 1000px;
    color: #d4bfff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 400px;
}
