.title_box {
    font-family: 'RunescapeBold', serif;
    color: #b4ae1c;
    display: block;
    text-align: center;
}

.title_box h1 {
    margin: 0;
    padding: 0;
}

.css-1rb8ayf-MuiStack-root > :not(style) ~ :not(style) {
    margin-top: 0;
}