:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: radial-gradient(circle at 50%, #640393, #0a0010 90%);


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
